default_language_version:
  python: python3

repos:
  # Run fast code improvement/checks before running PR specific helpers.
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'vesuvio/vesuvio_analysis/scribles|vesuvio/experiments/original_inputs|vesuvio/original_inputs.py'
        types: ['python']
      - id: check-added-large-files
        args: ['--maxkb=4096']
        exclude: 'vesuvio/experiments/original_inputs'

  - repo: https://gitlab.com/pycqa/flake8.git
    rev: 5.0.4
    hooks:
      - id: flake8
        args: ['--config', 'config.flake8']
        exclude: 'vesuvio/vesuvio_analysis/scribles|vesuvio/experiments/original_inputs|vesuvio/original_inputs.py'

