name: Run tests nightly (Windows)

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Run tests nightly (Linux)"]
    branches: [main]
    types:
      - completed

jobs:
  test:
    runs-on: windows-latest 
    defaults:
      run:
        shell: pwsh

    steps:
      - name: Checkout mvesuvio
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run all tests
        uses: ./.github/actions/run-all-tests
        with:
          token: ${{ secrets.COVERALLS_REPO_TOKEN }}