name: Run tests nightly (Linux)

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

jobs:
  test:
    runs-on: ubuntu-22.04 
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout mvesuvio
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run all tests
        uses: ./.github/actions/run-all-tests
        with:
          token: ${{ secrets.COVERALLS_REPO_TOKEN }}
