name: Run tests nightly (Windows)

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Run tests nightly (Linux)"]
    branches: [main]
    types:
      - completed

jobs:
  test:
    runs-on: windows-latest 
    defaults:
      run:
        shell: pwsh

    steps:
      - uses: ./.github/actions/run-all-tests
